# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
.#*

# Undo-tree save-files
*.~undo-tree

# other stuff
tutorial
bookmarks
elpa/
ido.last
recentf
smex-items
# snippets/
tramp
eshell/
eln-cache/
config.el
init.el
.org-id-locations
url/
auto-save-list/
autosave/
projectile-bookmarks.eld
transient/
custom.el

# Session related stuff
session.*
\#*
eshell/
eln-cache/
.emacs.desktop*

elpy/
