# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# other stuff
bookmarks
elpa/
org-persist/
ido.last
recentf
smex-items
# snippets/
tramp
config.el

# Session related stuff
session.*
\#*