# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
.#*

# Undo-tree save-files
*.~undo-tree

# other stuff
tutorial
bookmarks
elpa/
ido.last
recentf
smex-items
# snippets/
tramp
eshell/
eln-cache/
config.el
.org-id-locations

# Session related stuff
session.*
.emacs.desktop*
\#*